## Python Basics

### Python is open source, interpreted, high level language.

### Python provide great functionality to deal with mathematics, statistics and scientific function. 

### It provides great libraries to deals with data science application.

### 1. Python Syntax

In [1]:
print("Hello World")                      #print is used to output variable

Hello World

In [2]:
print('This is Data Science with Python Class')

This is Data Science with Python Class

In [3]:
print('''Journey towards Data Science''')

Journey towards Data Science

### 2. Comments

In [8]:
# print("this is a comment")
print("data science")

data science

In [4]:
# print("this is a comment")
print("data science class")

data science class

### 3. Python Variables

### Variables are containers for storing data values.

### For Creating Variables --
### Python has no command for declaring a variable.

### A variable is created the moment you first assign a value to it.

### Variable names are case sensitive

In [5]:
a = 10
A = 22
b = "Name"
print(a)
print(b)
print(A)

10
Name
22

In [9]:
a = 10
b = "Name"
print(a)
print(b)

10
Name

In [10]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [6]:
c = "abc"
c = 5
print(c)

5

### 4. type() function

In [12]:
# To get the data type of a variable

In [11]:
a = 10
b = "Name"
c = 2.333
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [13]:
a = 10
b = "Name"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

### 5. Assign Multiple Values

In [15]:
a1, b1, c1 = "Learning", "Python", "Basics"        # Python allows you to assign values to multiple variables in one line               

print(a1)
print(b1)
print(c1)

Learn
Python
Basics

In [17]:
a = b = c = "data science"

print(a)
print(b)
print(c)

data science
data science
data science

### 6. Data types in Python

### Built-in Data Types

#### Variables can hold values, and every value has a data-type. 
#### Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. 
#### The interpreter implicitly binds the value with its type.

In [1]:
a2 = 10        # here the variable a2 holds integer value 10 and we didnot define its type.

In [ ]:
Text Type:	str
    
Numeric Types:	int, float, complex
    
Sequence Types:	list, tuple, range
    
Mapping Type:	dict
    
Set Types:	set, frozenset
    
Boolean Type:	bool

In [10]:
# 1. String

s1 = "string using double quotes"

print(s1)  

s2 = '''A multiline 
string'''  

print(s2)

string using double quotes
A multiline
string

In [18]:
s1 = "string using double quotes"

print(s1)  

s2 = '''A multiline 
string'''  

print(s2)

string using double quotes
A multiline
string

In [62]:
# 2. Numeric Type

n1 = 5  
print("The type of a", type(n1))  
  
n2 = 40.5  
print("The type of b", type(n2))  
  
n3 = 1+3j  
print("The type of c", type(n3))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>

#### Int - Integer value can be any length such as integers 10, 2, 29, -20, -150 etc.

#### Python has no restriction on the length of an integer. Its value belongs to int

#### Float - Float is used to store floating-point numbers like 1.9, 9.902, 15.2, etc. It is accurate upto 15 decimal points.

#### complex - A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts, respectively. 
#### The complex numbers like 2.14j, 2.0 + 2.3j, etc.

In [63]:
### Exercise Try it

t1 = 1
t2 = 35656222554887711
t3 = -3255522

print(type(t1))
print(type(t2))
print(type(t3))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
### Exercise Try it

t1 = 2.20
t2 = 5.1111
t3 = -30.45890

print(type(t1))
print(type(t2))
print(type(t3))

In [ ]:
### Exercise Try it

t1 = 42e44
t2 = 10e300
t3 = -30.2e99

print(type(t1))
print(type(t2))
print(type(t3))

### 7. Type conversion--convert from one type to another

In [65]:
x = 2    # int
y = 4.1  # float
z = 2j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

2.0
4
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### 8. List

### Lists are used to store multiple items in a single variable.

### Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

### Lists are created using square brackets

In [66]:
# Create list

mylist = ["pen", "book", "paper", "laptop"]

print(mylist)

['pen', 'book', 'paper', 'laptop']

### a. List length

In [67]:

print(len(mylist))

4

### b. List items are ordered, mutable(changeable), allows duplicate and heterogenous

In [68]:
# Example

list = ["a", "a",1, True]
print(list)

['a', 'a', 1, True]

### c. List indexing

### List items are indexed, the first item has index [0], the second item has index [1] and so on

### Negative Indexing
### Negative indexing means start from the end

### -1 refers to the last item, -2 refers to the second last item and so on

### d. Access list items

In [69]:
list = ["pen", "laptop", 6, 2, "book"]

print(list[1])

laptop

In [27]:
# if i want to --print pen, print book

# what will be the output of print(list[-3])

#### Range of Indexes--- We can specify a range of indexes by specifying where to start and where to end the range.

In [71]:
print(list[1:3])

print(list[:3])

print(list[1:])

['laptop', 6]
['pen', 'laptop', 6]
['laptop', 6, 2, 'book']

### e. Change list items

In [74]:
list = ["orange", "apple", "kiwi", 7, 9]

#list[3] = 10

list[3] = "abc"

print(list)

list[1:3] = ["grapes", "watermelon"]

print(list)

['orange', 'apple', 'kiwi', 'abc', 9]
['orange', 'grapes', 'watermelon', 'abc', 9]

### f. Add list items

### append() --To add an item to the end of the list

In [75]:
list.append("kiwi")

print(list)

['orange', 'grapes', 'watermelon', 'abc', 9, 'kiwi']

### insert() -- To insert a list item at a specified index

In [76]:
list.insert(2, "muskmelon")

print(list)

['orange', 'grapes', 'muskmelon', 'watermelon', 'abc', 9, 'kiwi']

### g. Remove List Items

### remove() -- removes the specified item.

In [77]:
list.remove("kiwi")

print(list)

['orange', 'grapes', 'muskmelon', 'watermelon', 'abc', 9]

### pop() --removes the specified index

In [79]:
list.pop(4)

print(list)

['orange', 'grapes', 'muskmelon', 'watermelon', 9]

### 9. Tuple

### Tuples are used to store multiple items in a single variable.

### A tuple is a collection which is ordered and unchangeable.

### Tuples are written with round brackets.

### Tuple items are ordered, unchangeable, and allow duplicate values.

### Tuple items are indexed, the first item has index [0], the second item has index [1]

In [80]:
tuple1 = ("name", "age", 2, 3)

print(tuple1)

('name', 'age', 2, 3)

### a. Access tuples

In [81]:
print(tuple1[1])

age

In [82]:
print(tuple1[1:5])

('age', 2, 3)

### b. Add Items

### Since tuples are immutable, they do not have a build-in append()

In [87]:
mytuple = (1, "kiwi", "cherry")

t = ("apple", 1)

mytuple += t

print(mytuple)

(1, 'kiwi', 'cherry', 'apple', 1)

### c. join 2 tuples

In [88]:
t1 = ("a", "b" , "c")
t2 = (1, 2, 3)

t3 = t1 + t2
print(t3)

('a', 'b', 'c', 1, 2, 3)

In [89]:
print(type(t3))

<class 'tuple'>