### Sets

### Sets are used to store multiple items in a single variable.

### A set is a collection which is --

### unordered (cannot be referred to by index ) 

### unchangeable (Once a set is created, you cannot change its items, but you can remove items and add new items.),

### unindexed and do not allow duplicate values.

### Sets are written with curly brackets.

In [1]:
myset = {"a","b", "c", "d"}
         
print(myset)

{'a', 'c', 'b', 'd'}

In [2]:
print(len(myset))

4

In [3]:
myset = {"a", 22, True, 3.1}

print(myset)

{'a', 3.1, 22, True}

In [4]:
# how to find type of set
print(type(myset))

<class 'set'>

### 1. Access Set items

### We cannot access items in a set by referring to an index or a key.

### But you can loop through the set items using a for loop, 
### Also we can check if specified value is present in a set or not, by using the   in   keyword.

In [7]:
myset = {"a", 22, True, 3.1}

for x in myset:
    print(x)

a
3.1
22
True

In [9]:
myset = {"a", 22, True, 3.1}

print("b" in myset)

False

In [ ]:
# Change items--- We cannot change items in set but we can add new

### 2. add()

In [10]:
set1 = {"book", "pen", "paper", "pc"}

set1.add("laptop")

print(set1)

{'book', 'paper', 'pen', 'laptop', 'pc'}

### 3. update()

In [11]:
# we can add items from another set to our current set

set1 = {"book", "pen", "paper", "pc"}

set2 = {"pencil", 10, "computer"}

set1.update(set2)

print(set1)

{10, 'computer', 'book', 'paper', 'pc', 'pencil', 'pen'}

In [12]:
# we can also add items from tuple, dictionary, list to our current set

set1 = {"book", "pen", "paper", "pc"}
list1 = [2, "a", 3, 4,"b"]

set1.update(list1)

print(set1)

{2, 3, 4, 'book', 'paper', 'pen', 'a', 'pc', 'b'}

### 4. remove() or discard()

In [15]:
set1 = {"book", "pen", "paper", "pc"}

set1.remove("paper")

print(set1)             #if the element is not present it will raise an error

{'pen', 'pc', 'book'}

In [20]:
set2 = {"pencil", 10, "computer"}

set2.discard(10)

print(set2)                 #if the element is not present it will not raise an error
                            # we can also use pop() method but pop will remove last element, so we should know last element
                            # clear() method will empty the set

{'computer', 'pencil'}

## Dictionary

### Dictionaries are used to store data values in key:value pairs.

### A dictionary is a collection which is ordered, changeable and do not allow duplicates(values will overwrite).

### Dictionaries are written with curly brackets

In [46]:
d1 = {" Name" : "John",
      "Age" :10,
      "Class" : 1  
}

print(d1)

{' Name': 'John', 'Age': 10, 'Class': 1}

### 1. Access elements

###  We can access elements by using its key name inside [ ]

In [21]:
d1 = {"Name" :"John",
      "Age" :10,
      "Class" : 1  
}


print(d1["Name"])

John

### 2. get()

In [23]:
# will also give the same result

a = d1.get("Name")

print(a)

John

### 3. key()

In [24]:
# it will return list of all key values

a = d1.keys()

print(a)

dict_keys(['Name', 'Age', 'Class'])

### 4. Change values

In [25]:
# we can change the values by referring to its key name

d1 = {"Name" :"John",
      "Age" :10,
      "Class" : 1  
}

d1["Class"] = 2

print(d1)

{'Name': 'John', 'Age': 10, 'Class': 2}

### 5. Add element

In [26]:
d1 = {"Name" :"John",
      "Age" :10,
      "Class" : 1  
}

d1["subject"] = "Data Science"

print(d1)

{'Name': 'John', 'Age': 10, 'Class': 1, 'subject': 'Data Science'}

### 6. Removing an element

### pop()

In [27]:
d1 = {"Name" :"John",
      "Age" :10,
      "Class" : 1  
}

d1.pop("Class")
print(d1)

#pop() removes specified item

{'Name': 'John', 'Age': 10}

### popitem()

In [28]:
d1 = {"Name" :"John",
      "Age" :10,
      "Class" : 1  
}

d1.popitem()
print(d1)

# it removes last element

{'Name': 'John', 'Age': 10}